<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" >
    <title>常见疾病</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/wapcss.css" />
   <!-- <link rel="stylesheet" href="__PUBLIC__/css/pages.css"/>-->
    <script src="__PUBLIC__/bootstrap/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/size.js"></script>
</head>
<body>
<!--常见疾病-->
<div class="container zc_bgs1">
    <ul class="row">
        <li class="col-xs-2"><a href="{:U('Home/Index/index')}"><img src="__PUBLIC__/image/back_left1.png" class="back_left_img"></a></li>
        <li class="col-xs-8"><span>常见疾病</span></li>
        <li class="col-xs-2"></li>
    </ul>
</div>
<div class="jianju_div"></div>

<div class="container lishiyuyue_bgs">
    <ul class="row so_bg1">
        <li class="col-xs-12">
            <div class="col-xs-10"><input type="text" class="zc_name_input" id=" " placeholder="疾病/医生/科室"> </div>
            <div class="col-xs-2"><a href="" class="ss_btn1"><img src="__PUBLIC__/image/sous.png"></a></div>
        </li>
    </ul>
</div>

<!----------列表切换--------------------->
<div class="container">
    <div class="row">

        <ul id="myTab" class="col-xs-5 keshi_jibing_li">
            <li class="active"><a href="#k1" data-toggle="tab"><p><span class="ks1"></span>呼吸科</p></a></li>
            <li><a href="#k2" data-toggle="tab"><p><span class="ks2"></span>消化科</p></a></li>
            <li><a href="#k3" data-toggle="tab"><p><span class="ks3"></span>行为发育</p></a></li>
            <li><a href="#k4" data-toggle="tab"><p><span class="ks4"></span>小儿神经</p></a></li>
            <li><a href="#k5" data-toggle="tab"><p><span class="ks5"></span>内分泌</p></a></li>
            <li><a href="#k6" data-toggle="tab"><p><span class="ks6"></span>皮肤科</p></a></li>
            <li><a href="#k7" data-toggle="tab"><p><span class="ks7"></span>眼科</p></a></li>
            <li><a href="#k8" data-toggle="tab"><p><span class="ks8"></span>耳鼻喉科</p></a></li>
            <li><a href="#k9" data-toggle="tab"><p><span class="ks9"></span>口腔科</p></a></li>
            <li><a href="#k10" data-toggle="tab"><p><span class="ks10"></span>小儿外科</p></a></li>
            <li><a href="#k11" data-toggle="tab"><p><span class="ks11"></span>新生儿科</p></a></li>
            <li><a href="#k12" data-toggle="tab"><p><span class="ks12"></span>医技科</p></a></li>
        </ul>

        <div id="myTabContent" class="col-xs-7 tab-content" style="margin:0; padding: 0;">

            <div class="tab-pane fade in active" id="k1">
                <ul class="jb_bzli">
                    <li class="col-xs-6"><a href="">上呼吸道感染</a></li>
                    <li class="col-xs-6"><a href="">小儿发烧</a></li>
                    <li class="col-xs-6"><a href="">小儿肺炎</a></li>
                    <li class="col-xs-6"><a href="">急性毛细气管炎</a></li>
                    <li class="col-xs-6"><a href="">支气管哮喘</a></li>
                    <li class="col-xs-6"><a href="">花粉过敏</a></li>
                </ul>
            </div>



            <div class="tab-pane fade" id="k2">
                <ul class="jb_bzli">
                    <li class="col-xs-6"><a href="">小儿腹泻</a></li>
                    <li class="col-xs-6"><a href="">胃食管反流</a></li>
                    <li class="col-xs-6"><a href="">儿童消化性溃疡</a></li>
                    <li class="col-xs-6"><a href="">儿童炎症性肠病</a></li>
                </ul>
            </div>


            <div class="tab-pane fade" id="k3">
                <ul class="jb_bzli">
                    <li class="col-xs-6"><a href="">多动症</a></li>
                    <li class="col-xs-6"><a href="">抽动症</a></li>
                    <li class="col-xs-6"><a href="">自闭症</a></li>
                    <li class="col-xs-6"><a href="">遗尿症</a></li>
                    <li class="col-xs-6"><a href="">发育迟缓</a></li>
                    <li class="col-xs-6"><a href="">智力低下</a></li>
                </ul>
            </div>


            <div class="tab-pane fade" id="k4">
                <ul class="jb_bzli">
                    <li class="col-xs-6"><a href="">癫痫</a></li>
                    <li class="col-xs-6"><a href="">脑瘫</a></li>
                    <li class="col-xs-6"><a href="">惊厥性疾病</a></li>
                    <li class="col-xs-6"><a href="">认知和智力障碍</a></li>
                    <li class="col-xs-6"><a href="">小儿睡眠障碍</a></li>
                    <li class="col-xs-6"><a href="">小儿麻痹</a></li>
                </ul>
            </div>


            <div class="tab-pane fade" id="k5">
                <ul class="jb_bzli">
                    <li class="col-xs-6"><a href="">矮小症</a></li>
                    <li class="col-xs-6"><a href="">增高</a></li>
                    <li class="col-xs-6"><a href="">性早熟</a></li>
                    <li class="col-xs-6"><a href="">儿童肥胖症</a></li>
                    <li class="col-xs-6"><a href="">儿童糖尿病</a></li>
                    <li class="col-xs-6"><a href="">肾上腺疾病</a></li>
                </ul>
            </div>


            <div class="tab-pane fade" id="k6">
                <ul class="jb_bzli">
                    <li class="col-xs-6"><a href="">胎记</a></li>
                    <li class="col-xs-6"><a href="">血管瘤</a></li>
                    <li class="col-xs-6"><a href="">湿疹</a></li>
                    <li class="col-xs-6"><a href="">荨麻疹</a></li>
                    <li class="col-xs-6"><a href="">痤疮</a></li>
                    <li class="col-xs-6"><a href="">过敏性紫癜</a></li>
                </ul>
            </div>

            <div class="tab-pane fade" id="k7">
                <ul class="jb_bzli">
                    <li class="col-xs-6"><a href="">小儿斜视</a></li>
                    <li class="col-xs-6"><a href="">弱视</a></li>
                    <li class="col-xs-6"><a href="">真假近视</a></li>
                    <li class="col-xs-6"><a href="">过敏性结膜炎</a></li>
                    <li class="col-xs-6"><a href="">小儿白内障</a></li>
                    <li class="col-xs-6"><a href="">验光配镜</a></li>
                </ul>
            </div>

            <div class="tab-pane fade" id="k8">
                <ul class="jb_bzli">
                    <li class="col-xs-6"><a href="">急慢性中耳炎</a></li>
                    <li class="col-xs-6"><a href="">咽炎</a></li>
                    <li class="col-xs-6"><a href="">鼻炎</a></li>
                    <li class="col-xs-6"><a href="">鼻窦炎</a></li>
                    <li class="col-xs-6"><a href="">过敏性鼻炎</a></li>
                    <li class="col-xs-6"><a href="">腺样体肥大</a></li>
                </ul>
            </div>

            <div class="tab-pane fade" id="k9">
                <ul class="jb_bzli">
                    <li class="col-xs-6"><a href="">龋齿</a></li>
                    <li class="col-xs-6"><a href="">牙髓炎</a></li>
                    <li class="col-xs-6"><a href="">鼻炎</a></li>
                    <li class="col-xs-6"><a href="">牙周疾病</a></li>
                    <li class="col-xs-6"><a href="">牙列不齐</a></li>
                    <li class="col-xs-6"><a href="">早期矫治</a></li>
                </ul>
            </div>

            <div class="tab-pane fade" id="k10">
                <ul class="jb_bzli">
                    <li class="col-xs-6"><a href="">尿道下裂</a></li>
                    <li class="col-xs-6"><a href="">小儿隐睾</a></li>
                    <li class="col-xs-6"><a href="">包茎</a></li>
                    <li class="col-xs-6"><a href="">包皮</a></li>
                    <li class="col-xs-6"><a href="">小儿疝气</a></li>
                    <li class="col-xs-6"><a href="">鞘膜积液</a></li>
                </ul>
            </div>

            <div class="tab-pane fade" id="k11">
                <ul class="jb_bzli">
                    <li class="col-xs-6"><a href="">吸入性肺炎</a></li>
                    <li class="col-xs-6"><a href="">新生儿黄疸</a></li>
                    <li class="col-xs-6"><a href="">新生儿湿肺</a></li>
                    <li class="col-xs-6"><a href="">新生儿腹泻</a></li>
                    <li class="col-xs-6"><a href="">新生儿溶血</a></li>
                    <li class="col-xs-6"><a href="">出血症</a></li>
                </ul>
            </div>
            <div class="tab-pane fade" id="k12">
                <ul class="jb_bzli">
                    <li class="col-xs-6"><a href="">医学影像科</a></li>
                    <li class="col-xs-6"><a href="">超声科</a></li>
                    <li class="col-xs-6"><a href="">心电图室</a></li>
                    <li class="col-xs-6"><a href="">脑电图</a></li>
                    <li class="col-xs-6"><a href="">测评室</a></li>
                    <li class="col-xs-6"><a href="">药剂科</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!----------列表切换 end-------------------->

<!--常见疾病 end-->



<!-------固定底部部件--------->
<div style="height: 2.5rem;"></div>
<include file="index/top"/>
<!-------固定底部部件 end --------->



</body>
</html>
