<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" >
    <title>登录</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/wapcss.css" />
    <script src="__PUBLIC__/bootstrap/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/size.js"></script>
</head>
<body>
<!--登录-->
<div class="container zc_bgs1">
    <ul class="row">
        <li class="col-xs-2"><a href="{:U('Home/Index/index')}"><img src="__PUBLIC__/image/back_left1.png" class="back_left_img"></a></li>
        <li class="col-xs-8"><span>儿科统一预约挂号平台</span></li>
        <li class="col-xs-2"></li>
    </ul>
</div>
<div class="jianju_div"></div>
<div class="container zc_bgs2">
    <!--表单--->
    <form class="form-horizontal" role="form">

        <div class="form-group bk01" style="margin-top: 0.3rem;">
            <label for="firstname" class="col-xs-2  left_ico1"><img src="__PUBLIC__/image/ico2.jpg" ></label>
            <div class="col-xs-10">
                <input type="text" class="zc_name_input" id="tel" placeholder="请输入您的手机号">
            </div>
        </div>

        <div class="form-group bk01" >
            <label for="firstname" class="col-xs-2   left_ico1"><img src="__PUBLIC__/image/ico4.jpg" ></label>
            <div class="col-xs-10">
                <input type="password" class="zc_name_input" id="pwd" placeholder="请输入密码">
            </div>
        </div>


        <button type="button" class="denglu_btn1" id="login" >立即登陆</button>

    </form>
    <!---表单 end-->

</div>

<!--登录 end-->


<div class="container">
    <ul class="row">
        <li class="col-xs-6" style="text-align: right;"><p class="shanfang_dl">第三方登陆：</p></li>
        <li class="col-xs-6" style="margin-left: -0.5rem;">
            <p class="shanfang_dl_ico">

                <span class="l_d1_li1" name="qData">
                    <a href='https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101387044&redirect_uri={$qData["url"]}&state={$qData["s"]}' class="l_d1_li1a">
                        <img src="__PUBLIC__/image/dl01.jpg">
                    </a>
                </span>
                <a href=""><img src="__PUBLIC__/image/dl02.jpg"></a>
                <a href=""><img src="__PUBLIC__/image/dl03.jpg"></a>
            </p>
        </li>
    </ul>
</div>


<div class="container wj_bk2">
    <ul class="row">
        <li class="col-xs-6"><a href="{:U('Home/Register/reset')}">忘记密码？</a></li>
        <li class="col-xs-6" style="text-align: right;"><a href="{:U('Home/Register/register')}">快速注册></a></li>
    </ul>
</div>
</body>
</html>
<script src="__PUBLIC__/js/chaohai/login.js"></script>
<script>
    var login_url1='{:U("Home/Index/index")}';
</script>
