<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" >

    <title>首页</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/wapcss.css" />
    <script src="__PUBLIC__/bootstrap/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/size.js"></script>
    <script src="__PUBLIC__//js/size.js"></script>
</head>
<body>

<!---------top ------->
<div class="container top_bg1">
    <ul class="row">
        <li class="col-xs-2 sy_dizi" style="margin-left: 0.4rem;"><a href=""><img src="__PUBLIC__/image/sy_add.png">成都｜</a></li>
        <li class="col-xs-7 sy_ghname"><p><img src="__PUBLIC__/image/sy_logo.png"  style="vertical-align: middle; margin-top: -0.1rem;">儿童统一预约挂号平台</p></li>
        <li class="col-xs-3 dl_mg1" style="margin-left: -0.7rem;"><p><a href="{:U('Home/Register/login')}" class="dla1">登录</a> <a href="{:U('Home/Register/register')}" class="zca1">注册</a></p></li>
    </ul>
</div>
<!---------top end ------->


<!---------search ------->
<div class=" container">
    <ul class="row so_bg1">
        <li class="col-xs-12">
            <div class="col-xs-10"><input type="text" class="zc_name_input" id=" " placeholder="疾病/医生/科室"> </div>
            <div class="col-xs-2"><a href="" class="ss_btn1"><img src="__PUBLIC__/image/sous.png"></a></div>
        </li>
    </ul>
</div>
<!---------search  end------->


<!--------首页 banenr ------->
<div id="myCarousel" class="carousel slide" style="margin: 0 auto; max-width: 640px;">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators"  style="bottom:0.05rem">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="__PUBLIC__/image/sy_b1.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="__PUBLIC__/image/sy_b2.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="__PUBLIC__/image/sy_b1.jpg" alt="Third slide">
        </div>
    </div>

</div>
<script type="text/javascript">
    $("#myCarousel").carousel({
        interval: 3000
    });
</script>
<!--------首页 banenr end ------->


<!--------步骤 ------->
<div class="container">
    <ul class="row bc_tb">
        <li class="col-xs-4">
            <p class="bc_tit1"><img src="__PUBLIC__/image/bc1.jpg">预约挂号</p>
            <p class="bc_ms1">轻松预约  只需三步</p>
        </li>

        <li class="col-xs-4">
            <p class="bc_tit1"><img src="__PUBLIC__/image/bc2.jpg">医生团队</p>
            <p class="bc_ms1">直接对话  专业医生</p>
        </li>

        <li class="col-xs-4">
            <p class="bc_tit1"><img src="__PUBLIC__/image/bc3.jpg">常见问题</p>
            <p class="bc_ms1">遇到问题  联系客服</p>
        </li>

    </ul>
</div>
<!--------步骤 end ------->


<!--------公告 ------->
<div class="container">
    <ul class="row gong1">
        <li class="col-xs-3 gg_z1">公告<img src="__PUBLIC__/image/gg1.jpg"></li>
        <li class="col-xs-9" style="margin-left: -1rem; ">
            <div class="txtScroll-top">

                <div class="bd">
                    <ul class="infoList">
                        <li><a href="">公司公告公告公告公告公告</a></li>
                        <li><a href="">文字222222222222222</a></li>
                    </ul>
                </div>
            </div>

            <script type="text/javascript">
                jQuery(".txtScroll-top").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"top",autoPlay:true,vis:1});
            </script>
        </li>
    </ul>
</div>

<!--------公告 end ------->


<!--------推荐医生 ------->
<div class="container">
    <ul class="row">
        <li class="col-xs-9"><p class="keshi_k1">推荐医生</p></li>
        <li class="col-xs-3"><a href="" class="tjzj_more1">更多</a></li>
    </ul>

    <ul class="row tjzj_li1">
        <li class="col-xs-4">
            <p class="tjzj_tx1"><a href=""><img src="__PUBLIC__/image/tjzj01.png"></a></p>
            <h3 class="tjzj_name1"><a href="">李明</a></h3>
            <p class="tjzj_zc1">主任医师</p>
            <p class="tjzj_gh_btn1"><a href="">预约挂号</a></p>
        </li>

        <li class="col-xs-4">
            <p class="tjzj_tx1"><a href=""><img src="__PUBLIC__/image/tjzj01.png"></a></p>
            <h3 class="tjzj_name1"><a href="">李明</a></h3>
            <p class="tjzj_zc1">主任医师</p>
            <p class="tjzj_gh_btn1"><a href="">预约挂号</a></p>
        </li>

        <li class="col-xs-4">
            <p class="tjzj_tx1"><a href=""><img src="__PUBLIC__/image/tjzj01.png"></a></p>
            <h3 class="tjzj_name1"><a href="">李明</a></h3>
            <p class="tjzj_zc1">主任医师</p>
            <p class="tjzj_gh_btn1"><a href="">预约挂号</a></p>
        </li>

    </ul>
</div>
<!--------推荐医生  end ------->



<!--------常见疾病 ------->
<div class="container">
    <ul class="row">
        <li class="col-xs-9"><p class="keshi_k1">常见疾病</p></li>
        <li class="col-xs-3"><a href="" class="tjzj_more1">更多</a></li>
    </ul>

    <div class="row" style="margin-top: 0.8rem;">
        <ul>
            <li class="col-xs-12 banz_a1">
                <a href="">多动症</a>
                <a href="">小儿斜视</a>
                <a href="">气管炎</a>
                <a href="">小儿肺炎</a>
                <a href="">小儿发烧</a>
                <a href="">会复发吗</a>
                <a href="">毛细气管炎</a>
            </li>
        </ul>
    </div>

</div>
<!--------常见疾病  end------->


<!--------首页下面小banner ------>
<div class="container">
    <ul class="row">
        <li class="col-xs-12" style="padding: 0; margin-top: 0.8rem;"><a href=""><img src="__PUBLIC__/image/sy_bn.jpg"></a></li>
    </ul>
</div>
<!--------首页下面小banner  end ------>


<!--------最新资讯 ------>
<div class="container">
    <ul class="row">
        <li class="col-xs-9"><p class="keshi_k1">最新资讯</p></li>
        <li class="col-xs-3"><a href="" class="tjzj_more1">更多</a></li>
    </ul>


    <ul class="row zx_list1">
        <li>
            <div class="col-xs-4 zx_lt1"><a href=""><img src="__PUBLIC__/image/zx01.jpg"></a></div>
            <div class="col-xs-8 zx_mg2">
                <h3 class="zx_tit1"><a href="">空腹服药和饭前服药是一回事儿吗</a></h3>
                <p class="zx_ms1">现在素食者越来越多，在转变成素食者后，一部分人发.......<a href="">【详细】</a></p>
                <p class="jiedu_click2" ><span style="margin-right: 0.8rem;">2017.5.8</span><img src="__PUBLIC__/image/zjjd02.jpg"><span>256</span></p>

            </div>
        </li>

        <li>
            <div class="col-xs-4 zx_lt1"><a href=""><img src="__PUBLIC__/image/zx01.jpg"></a></div>
            <div class="col-xs-8 zx_mg2">
                <h3 class="zx_tit1"><a href="">空腹服药和饭前服药是一回事儿吗</a></h3>
                <p class="zx_ms1">现在素食者越来越多，在转变成素食者后，一部分人发.......<a href="">【详细】</a></p>
                <p class="jiedu_click2" ><span style="margin-right: 0.8rem;">2017.5.8</span><img src="__PUBLIC__/image/zjjd02.jpg"><span>256</span></p>

            </div>
        </li>


        <li>
            <div class="col-xs-4 zx_lt1"><a href=""><img src="__PUBLIC__/image/zx01.jpg"></a></div>
            <div class="col-xs-8 zx_mg2">
                <h3 class="zx_tit1"><a href="">空腹服药和饭前服药是一回事儿吗</a></h3>
                <p class="zx_ms1">现在素食者越来越多，在转变成素食者后，一部分人发.......<a href="">【详细】</a></p>
                <p class="jiedu_click2" ><span style="margin-right: 0.8rem;">2017.5.8</span><img src="__PUBLIC__/image/zjjd02.jpg"><span>256</span></p>

            </div>
        </li>
        <li>
            <div class="col-xs-4 zx_lt1"><a href=""><img src="__PUBLIC__/image/zx01.jpg"></a></div>
            <div class="col-xs-8 zx_mg2">
                <h3 class="zx_tit1"><a href="">空腹服药和饭前服药是一回事儿吗</a></h3>
                <p class="zx_ms1">现在素食者越来越多，在转变成素食者后，一部分人发.......<a href="">【详细】</a></p>
                <p class="jiedu_click2" ><span style="margin-right: 0.8rem;">2017.5.8</span><img src="__PUBLIC__/image/zjjd02.jpg"><span>256</span></p>
            </div>
        </li>
    </ul>
</div>
<!--------最新资讯  end------>

<!-------固定底部部件--------->
<div style="height: 2.5rem;"></div>
<include file="index/top"/>
<!-------固定底部部件 end --------->
</body>
</html>
<script src="__PUBLIC__/js/chaohai/register.js"></script>

