<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>底部</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/wapcss.css" />
    <script src="__PUBLIC__/bootstrap/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/size.js"></script>
</head>
<body>
<div class="container foot_bgs1 navbar-fixed-bottom">
    <ul class="row">
        <li class="col-xs-3"><a href="{:U('Home/Bespeak/bespeak')}"><img src="__PUBLIC__/image/f_ico1.png">  <p>挂号</p> </a></li>
        <li class="col-xs-3"><a href="{:U('Home/Xunyi/doctor')}"><img src="__PUBLIC__/image/f_ico2.png">  <p>寻医</p> </a></li>
        <li class="col-xs-3"><a href=""><img src="__PUBLIC__/image/f_ico3.png">  <p>消息</p> </a></li>
        <li class="col-xs-3"><a href="{:U('Home/UserAdmin/personal')}"><img src="__PUBLIC__/image/f_ico4.png">  <p>我的</p> </a></li>
    </ul>
</div>
</body>
</html>