<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" >

    <title>我的历史预约</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/wapcss.css" />
    <script src="__PUBLIC__/bootstrap/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/size.js"></script>
</head>
<body>
<!--我的历史预约-->
<div class="container zc_bgs1">
    <ul class="row">
        <li class="col-xs-2"><a href="{:U('Home/UserAdmin/personal')}"><img src="__PUBLIC__/image/back_left1.png" class="back_left_img"></a></li>
        <li class="col-xs-8"><span>我的历史预约</span></li>
        <li class="col-xs-2"></li>
    </ul>
</div>
<div class="jianju_div"></div>
<div class="container lishiyuyue_bgs">
    <ul class="row yuyue_tit1">
        <li class="col-xs-2">预约人</li>
        <li class="col-xs-3">预约专家</li>
        <li class="col-xs-2">支付方式</li>
        <li class="col-xs-2">预约状态</li>
        <li class="col-xs-3">备注</li>
    </ul>
    <foreach name="patient" item="v">
        <ul class="row yuyue_date1">
            <li class="col-xs-2"><p>{$v.p_name}</p></li>
            <li class="col-xs-3">
                <p style="line-height: 0.9rem; margin-top: 0.05rem;"><a href="" style="color: #999999;">儿童保健科</a></p>
                <p style="line-height: 0.9rem;"><a href="">{$v.d_name}</a></p>
                <p style="color: #dbdbdb;line-height: 0.9rem;">{$v.r_date}</p>
            </li>
            <li class="col-xs-2"><p>支付宝</p></li>
            <li class="col-xs-2"><p>未到院</p></li>
            <li class="col-xs-3"><span  class="gai_jztime2" date_url1="{:U('Home/UserAdmin/patientModifyQuery')}" date_url="{:U('Home/UserAdmin/patientModifyDate')}" style="color: #FFFFFF;cursor: pointer;" modify_id="{$v.r_id}">修改时间</span></li>
        </ul>
    </foreach>
</div>
<!--我的历史预约 end-->
<!-------固定底部部件--------->
<div style="height: 2.5rem;"></div>
<include file="index/top"/>
<!-------固定底部部件 end --------->
</body>
</html>
<script src="__PUBLIC__/js/chaohai/userAdmin.js"></script>
<script>

</script>