<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" >

    <title>修改就诊时间</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/wapcss.css" />
    <script src="__PUBLIC__/bootstrap/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/size.js"></script>
    <script src="__PUBLIC__/js/laydate/laydate.js"></script>
</head>
<body>
<style>
    #laydate_box{
        left: 77px;
    }
</style>

<!--修改就诊时间-->

<div class="container zc_bgs1">
    <ul class="row">
        <li class="col-xs-2"><a href="{:U('Home/UserAdmin/historicalReservation')}"><img src="__PUBLIC__/image/back_left1.png" class="back_left_img"></a></li>
        <li class="col-xs-8"><span>修改就诊时间</span></li>
        <li class="col-xs-2"></li>
    </ul>
</div>

<div class="jianju_div"></div>

<div class=" container jia_jzr_bgs1">
    <p class="gai_jzr_wz1"><img src="__PUBLIC__/image/gai_times.png" class="gai_jzr_size" >修改就诊时间
        <span class="jzr_tj">（预约医生不可修改）</span></p>
</div>

<div class="jianju_div"></div>



<div class="container jzxx_bgs2">

    <form class="form-horizontal" role="form">

        <div class="form-group jia_k2"  >
            <label for="firstname" class="col-xs-5   xingm" style="text-align: right;">您的预约时间为 ：</label>
            <div class="col-xs-7">
                <p class="jia_name_input"   style="color: #c1c0c0;">{$date}</p>
            </div>
        </div>


        <div class="form-group jia_k2"  >
            <label for="firstname" class="col-xs-5   xingm" style="text-align: right;">您的修改时间为 ：</label>
            <div class="col-xs-7">
                <input type="text" class="jia_name_input"  id="date" onclick="laydate()" placeholder="请选择就诊时间">
            </div>
        </div>
                <input type="hidden" class="r_id" value="{$r_id}"/>
        <button type="button" class="zc_btn1" id="modify_preservation" url="{:U('Home/UserAdmin/patientModify')}">保存</button>

    </form>


    <div class="row"><p class="col-xs-12 gai_jztimes">注：仅可修改2次就诊时间</p></div>

</div>
<!--修改就诊时间 end-->
<!---------修改就诊时间成功弹出消息----->
<div class="zc_chenggong_bgs" style="display: none;">
    <p><img src="img/zc_ico_gou.png" class="zc_gou_size"></p>
    <p class="zccg_size">恭喜您！修改成功</p>
    <p class="gai_jzsj_tswz">请你注意查收短信，如有任何疑问,请拨打电话：028-123456789</p>
</div>
<!---------修改就诊时间成功弹出消息 end ----->


<!-------固定底部部件--------->
<div style="height: 2.5rem;"></div>
<include file="index/top"/>
<!-------固定底部部件 end --------->
</body>
</html>
<script src="__PUBLIC__/js/chaohai/userAdmin.js"></script>
<script>
    $(function () {
        $("#date").click(function(){
            $("#laydate_box").css({"left":"50%","transform":"translateX(-50%)"});
        })
    });
</script>